.calendar_wrap { 
	width         : 100%;
	float         : left;
	margin-bottom : $unit*2;
}

.calendar_set_button { 
	width            : $unit*10;
	padding          : $unit;
	float            : left;
	display          : inline-block;
	cursor           : pointer;
	background-color : $light_ink;
	color            : $light;
	&:hover { 
		background-color : $ink;
	}
}

.calendar_set_wrap {
	width: 100%;
	float: left;
}

.calendar_set_date { 
	display : inline-block;
	float   : left;
	padding : $unit;
}

.calendar_calendar {
	width   : 30%;
	float   : left;
	padding : $unit*2;
	background-color: $ink;
}

.calendar_calendar_part {
	width         : 100%;
	float         : left;
	margin-bottom : $unit;
}

.calendar_date_month_wrap {
	width      : 100%;
	float      : left;
	text-align : center;
}

.calendar_date_month_text {
	display : inline-block;
	padding : 0 $unit;
	cursor  : pointer;
	&:hover {
		text-decoration: underline;
	}
}

.calendar_date_current_month_text {
	@extend .calendar_date_month_text;
	font-weight: bold;
}

.calendar_calendar_day_name {
	width      : 14.25%;
	display    : inline-block;
	text-align : center;
}

.calendar_calendar_day_number {
	width      : 14.25%;
	display    : inline-block;
	text-align : center;
	padding    : $unit;
	cursor     : pointer;
	&:hover { 
		background-color: $blue;
	}
}

.calendar_calendar_day_number_selected {
	@extend .calendar_calendar_day_number;
	background-color: $blue;
}

.calendar_calendar_day_seperator {

}

.calendar_calendar_year_text {
	@extend .calendar_calendar_day_number;
	width : 25%;
}

.calendar_calendar_year_text_selected { 
	@extend .calendar_calendar_year_text;
	background-color: $blue;
}

.calendar_calendar_month_text { 
	@extend .calendar_calendar_year_text;
	width: 33.33%;
}

.calendar_calendar_month_text_selected {
	@extend .calendar_calendar_month_text;
	width            : 33.33%;
	background-color : $blue;
}
